<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Help Page</title>
    </head>
    <body>
        {{> header}}
        <p><a href="https://www.linkedin.com/in/amit3110/">LinkedIn Profile</a></p>
        <img src="images/Amit Prakash.jpeg" alt="Amit's pic">

        <p>My name is Amit Prakash. I am 2020 graduate of Electronics and Communication Engineering 
            from NIT Jamshedpur.</br>
            I am from Hajipur, Bihar.</br>
            I am interested in Competitive Programming and Machine Learning.</br>
            I like bike riding and enjoy playing football.
        </p>
        {{> footer}}
    </body>
</html>