<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Help Page</title>
    </head>
    <body>
        {{> header}}
        <p>{{screamIt welcomeMessage}}</p>
        <img src="images/welcome.jpeg" alt="welcome pic">
        <p>My name is Amit Prakash. I have created this website as one of my projects just for
            learning purpose.</p>
        <p>
            There are 3 pages in this website. To know about me and to visit my LinkedIn profile go to 
            the "About Page" shown above.</br>
            To have a look at my projects and their github links go to the "Projects" page.
        </p>
        {{> footer}}
    </body>
</html>